h1 {
	text-align:center;
}

table.cboard {
	border-collapse: collapse;
}

img.piece {
	position: relative;
	border:1px solid black;
	margin: auto;
}

tr.line {
	
	height:60px;
	width:60px ;
	
}

td.black {
	background-color:black;
	height:60px;
	width:60px;
	margin:none ;
	position: relative;
	
}

td.white {
	background-color:white;
	height:60px;
	width:60px;
	margin:none ;
	position: relative;
}
.start {
	margin:auto;
	position:relative;
	text-align:center;
}
div.board {
	position:relative;
	
	margin:auto;
	width:480px;
	height:480px;
	
}